html { font-size: 62.5%; }
body { font-size: 18px; font-size: 1.8rem; }

a {
    text-decoration:none;
    border-bottom: 1px dotted;
    color: #296894;
}

h1, h2, h3, h4, h5 {
    color:#296894;
}

a:visited {
    color: #299494;
}

a:hover {
    border-bottom: 1px solid;
    color: #B0255D;
}

h1 { font-size: 37px; font-size: 3.7rem; }
h2 { font-size: 28px; font-size: 2.8rem; }
h3 { font-size: 21px; font-size: 2.1rem; }
h4 { font-size: 16px; font-size: 1.6rem; }
h5 { font-size: 12px; font-size: 1.2rem; }

#wrapper {
    max-width: 60em;
    width: 90%;
    margin: 0 auto 2em;
}

#content {
    clear: both;
}

footer {
    margin: 2em 0;
}

